:root {
    --color-principal: #013E7B; 
    --color-secundario: #ffd200;
    --color-texto-claro: white;
    --color-texto-oscuro: #333;
    --color-fondo-panel: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente para paneles */
    --color-borde: #ccc;
    --color-sidebar: #DEDEDE;
}
header{
    background-color: var(--color-principal);
}
#transacciones h1 {
    color: var(--color-principal); 
    text-align: center;
    margin-bottom: 25px;
    font-size: 30px;
}

.transactions-list-placeholder {
    background-color: var(--color-fondo-blanco);
    border: 1px solid var(--color-borde);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    padding: 10px;
    min-height: 400px; /* Altura mínima para que se vea como un panel */
    overflow-y: auto;
}

/* Estilo para cada fila de transacción */
.transaction-item {
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: var(--color-texto-oscuro);
}


.transaction-type {
    font-weight: bold;
    width: 15%; 
}

.transaction-item.deposito .transaction-amount {
    color: #108c00; 
    font-weight: bold;
}

.transaction-item.retiro .transaction-amount {
    color: var(--color-alerta); 
    font-weight: bold;
}

.transaction-detail {
    flex-grow: 1; 
    padding: 0 20px;
    color: #666;
}

.transaction-final-balance {
    width: 15%;
    text-align: right;
    font-weight: 600;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: var(--color-texto-claro);
    background-color: var(--color-principal);
    padding: 10px 25px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

footer a:hover {
    background-color: #003366;
}